@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@300&display=swap');


body {
    margin: 0;
    display: flex;
    background-color: #131313
}

/* Menu block */

#menu a {
    text-decoration: none;
    color: #FDFDFD
}

#menu div {
    border: 0px solid blue;
    width: 220px;
}

#menu {
    width: 300px;
    height: 100vh;
    border: 0px solid red;
    box-sizing: border-box;
    flex-direction: column;
}

#logo_container {
    width: 220px;
    height: 60px;
    font-family: 'DM Sans', sans-serif;
    color: #FDFDFD;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-item {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.menu-icon {
    width: 20px;
    height: 20px;
    justify-content: center;
    padding-right: 10px;
}

#warehouse {
    margin-top: 40px;
    display: flex;
    padding-left: 30px;
    transition: padding-left 0.4s ease;
}

#accounting, #receipt, #invoices, #analysis {
    margin-top: 17px;
    display: flex;
    padding-left: 30px;
    transition: padding-left 0.4s ease;
}

#profile {
    padding-left: 30px;
    margin-top: 245px;
    transition: padding-left 0.4s ease;
}
#logout {
    padding-left: 30px;
    margin-top: 16px;
    transition: padding-left 0.4s ease;
}

#warehouse:hover, #accounting:hover, #receipt:hover, #invoices:hover, #analysis:hover, #profile:hover, #logout:hover {
    padding-left: 40px;
}

/* Main block */

#card_info {
    background-color: #252525;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: 33px;
    padding-left: 25px;
    padding-top: 1px;
}

.profile-username, .profile-info {
    color: #FDFDFD;
}

.profile-username {
    font-family: 'DM Sans', sans-serif;
    color: #FDFDFD;
    font-size: 35px;
    margin-bottom: 45px;
    text-decoration: underline;
    text-decoration-color: #009900;
    text-underline-offset: 26px;
}

.profile-info {
    font-family: 'DM Sans', sans-serif;
    color: #FDFDFD;
    font-size: 18px;
    margin-bottom: -5px;
    padding-right: 20px;
}

.profile-info:last-child {
    padding-bottom: 45px;
}