<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">

</head>
<body>
    <div id="menu">
        <div id="logo_container"><a href="/">HomeBuild</a></div>

            <div id="warehouse"><a class="menu-item" href="/warehouse"><img class="menu-icon" src="{{ url_for('static', filename='icons/warehouse.png') }}" alt="">Склад</a></div>
            <div id="accounting"><a class="menu-item" href="/accounting"><img class="menu-icon" src="{{ url_for('static', filename='icons/accounting.png') }}" alt="">Учёт</a></div>
            <div id="receipt"><a class="menu-item" href="/receipt"><img class="menu-icon" src="{{ url_for('static', filename='icons/receipt.png') }}" alt="">Получение</a></div>
            <div id="invoices"><a class="menu-item" href="/invoices"><img class="menu-icon" src="{{ url_for('static', filename='icons/invoices.png') }}" alt="">Накладные</a></div>
            <div id="analysis"><a class="menu-item" href="/analysis"><img class="menu-icon" src="{{ url_for('static', filename='icons/analysis.png') }}" alt="">Аналитика</a></div>
            <div id="profile"><a class="menu-item" href="/account"><img class="menu-icon" src="{{ url_for('static', filename='icons/profile.png') }}" alt="">Профиль</a></div>
            <div id="logout"><a class="menu-item" href="/logout"><img class="menu-icon" src="{{ url_for('static', filename='icons/logout.png') }}" alt="">Выход</a></div>
    </div>
    <div id="main">
        <div id="card_info">
            <p class="profile-username">{{ fullname }}, {{ age }}</p>
            <p class="profile-info">Специализация: {{ specialization }}</p>
            <p class="profile-info">Адрес: {{ address }}</p>
            <p class="profile-info">Номер телефона: {{ phone_number }}</p>
            <p class="profile-info">Email: {{ email }}</p>
        </div>
    </div>
</body>
</html>